<div [hidden]="isLoggedIn">
  <h3 class="mb-4">Zaloguj się</h3>
  <button class="btn btn-light mb-4" [routerLink]="['login']">Zaloguj się!</button>
  <p>Aby móc zarezerwować pojazd musisz się zalogować</p>
</div>
<div [hidden]="!isLoggedIn">
  <h3 class="mb-4">Zalogowany jako {{login}}</h3>
  <button class="btn btn-warning mb-4 mr-4" (click)="onLogout()">Wyloguj się!</button>
  <button class="btn btn-info mb-4" [routerLink]="['change-password']">Zmień hasło</button>
</div>

<h3 class="mb-4">Może trochę sprzętu?</h3>
<div class="row justify-content-center">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Koszt za pierwszy dzień</th>
      <th>Koszt za następne dni</th>
      <th>Zarezerwuj</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let eq of equipment">
      <td>{{ eq.name }}</td>
      <td>{{ eq.firstDayCost }} zł</td>
      <td>{{ eq.nextDaysCost }} zł</td>
      <td>
        <button class="btn btn-success" [disabled]="!isUser">Zarezerwuj</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
