<h3 class="mb-4">Zarezerwuj</h3>
<button [routerLink]="['/']" class="btn btn-light mb-4">Przejdź do strony głównej</button>
<form (ngSubmit)="onSubmit()" [formGroup]="reservationForm">
  <div class="row">
    <div class="col-6">
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Czas rozpoczęcia</div>
        </div>
        <input type="text" class="form-control"
               id="beginTime" placeholder="Czas rozpoczęcia"
               name="beginTime" formControlName="beginTime">
      </div>
    </div>
    <div class="col">
      <div [hidden]="!(beginTime.touched && !beginTime.valid)"
           class="text text-danger mb-2 mr-sm-2 mt-2">
        Data musi być podana w formacie rrrr-mm-dd, np 2022-12-27
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Czas zakończenia</div>
        </div>
        <input type="text" class="form-control"
               id="endTime" placeholder="Czas rozpoczęcia"
               name="endTime" formControlName="endTime">
      </div>
    </div>
    <div class="col">
      <div [hidden]="!(endTime.touched && !endTime.valid)"
           class="text text-danger mb-2 mr-sm-2 mt-2">
        Data musi być podana w formacie rrrr-mm-dd, np 2022-02-07
      </div>
    </div>
  </div>

  <button type="submit"
          class="btn btn-primary mb-2"
          [disabled]="!reservationForm.valid">
    Utwórz rezerwację</button>

  <div [hidden]="!isConflict()">
    <p class="text-danger">
      Istnieje już rezerwacja na ten dzień
    </p>
  </div>

  <div [hidden]="!isBad()">
    <p class="text-danger">
      Coś poszło nie tak, zadzwoń do adminstratora NATYCHMIAST!<br/>
      nr. tel + 39 06 69889806
    </p>
  </div>
</form>
